<div class="container text-center">
  <div class="row">
    <div class="col">
      <button *ngFor="let city of cities" class="btn mt-2 mr-2"
              [ngClass]="{'btn-transparent': city !== selectedCity, 'btn-selected': city === selectedCity}"
              (click)="selectCity(city)">
        {{ city.name }}
      </button>
    </div>
  </div>
</div>
<div *ngIf="selectedCity" class="container mt-4">
  <h2 class="text-center">Employee Info</h2>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr *ngFor="let employee of selectedCity.employees">
          <td>
            <div class="d-flex align-items-center">
              <img [src]="employee.avatar" alt="{{ employee.name }}" class="rounded-circle mr-3" width="50" height="50">
              <div>
                <h5>{{ employee.name }}</h5>
                <p>{{ employee.position }}</p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
